In [96]:
filename=input("Enter File name:\n")

Enter File name:
count.txt

In [97]:
import pandas as pd
data = pd.read_csv(filename, sep="\t", header=None)

In [98]:
data

              0  1
0       address  1
1        advice  1
2     advocates  1
3      affected  1
4      agencies  1
5           ago  1
6      allowing  1
7        allows  1
8       already  1
9          also  1
10      america  1
11     anything  2
12          app  2
13      appears  1
14      article  1
15          ask  1
16   assignment  1
17      audible  1
18   audiobooks  1
19        avoid  1
20         away  1
21         back  1
22          bag  1
23        based  1
24    batteries  1
25      battery  1
26       better  1
27       beyond  3
28          big  1
29         bill  1
..          ... ..
334  unexpected  1
335     unfolds  1
336     updates  1
337         use  4
338        used  2
339       using  4
340        utah  1
341        vast  1
342      verify  1
343     version  1
344       video  1
345        view  1
346      wading  1
347         way  2
348        weak  1
349       weeks  2
350        west  2
351       white  1
352        wide  1
353     winding  1
354     without  1
355        work  4
356     working  1
357       write  1
358     wyoming  1
359        year  1
360       years  1
361        yoga  1
362        york  4
363       youre  1

[364 rows x 2 columns]

In [99]:
data.columns = ['word', 'count']

In [100]:
data.loc[data['count'].idxmax()]

word     media
count        7
Name: 174, dtype: object

In [101]:
df_sort=data.sort_values('count',ascending=False)

In [89]:
top10=df_sort.head(10)
top10.to_csv('top10words.csv', header=True, index=False, sep='\t', mode='a')

In [102]:
top10words=top10['word']
top10words.to_csv('top10words.txt', header=False, index=False, sep='\t', mode='a')

In [56]:
import nltk
from nltk.corpus import stopwords 
List=[]
List = open("nytarticlesweek.txt").readlines()
import re
wordlist=[]
for i in range(0,len(List)):
    wl=[]
    wordlist=re.findall(r"[\w]+",List[i])
    wl=[x.lower() for x in wordlist]
    wl=[x for x in wl if not any(c.isdigit() for c in x)]
    wl = [i for i in wl if len(i) > 1]
    wl = [x.replace('_', '').replace("'", '') for x in wl]
    bl=['advertise']
    B=re.compile('|'.join([re.escape(word) for word in bl]))
    wl=[word for word in wl if not B.search(word)]
    sr = stopwords.words('english') 
    for token in wl: 
        if token in sr: 
            wl.remove(token)
    wordlist.append(wl)

In [124]:
top10words

['media',
 'twitter',
 'social',
 'new',
 'story',
 'tech',
 'news',
 'time',
 'work',
 'using']

In [ ]:
a=2
b=3
c=3
d=2

if (a,b==d,c):
    print("same pair")

[5, 14, 11, 20, 19, 12, 21]
15

/home/shreyas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [ ]:
# ["one", "two"]	1
# ["people", "gun"]	1
# ["people", "new"]	4
["people", "one"]	3
#["two", "new"]	2
#["two", "one"]	1
["people", "two"]	3
["shooting", "gun"]	3
# ["shooting", "new"]	2
# ["new", "gun"]	3
["new", "one"]	3
#["new", "people"]	5
#["gun", "new"]	6
["gun", "one"]	3
#["gun", "people"]	8
["gun", "two"]	3
["shooting", "one"]	1
["shooting", "people"]	3
["shooting", "two"]	1
#["new", "shooting"]	1
#["new", "two"]	3
#["one", "new"]	2

In [106]:
import pandas as pd
choice1=input("Tweets(T) or articles(A)?\n")
if choice1=="T" or choice1=="t":
    coocfile="coocTweet.txt"
elif choice1=="A" or choice1=="a":
    coocfile="coocNYT.txt"

data1 = pd.read_csv(coocfile, sep="\t", header=None)
data1.columns = ['wordpair', 'count']

from ast import literal_eval
droplist=[]
for i in range(0,len(data1)):
    for j in range(i,len(data1)):
        a=literal_eval(data1['wordpair'][i])
        b=literal_eval(data1['wordpair'][j])
        #print(a,b)

        if (a[0]==b[1] and b[0]==a[1]):
            #print("yes")
#             print(data1['count'][i])
#             print(data1['count'][j])
            data1['count'][i]=data1['count'][i]+data1['count'][j]
            droplist.append(j)

#print(droplist)
data1=data1.drop(data1.index[droplist])
df_sort1=data1.sort_values('count',ascending=False)
top50cooc=df_sort1.head(10)
cloudfile=input("Enter filename for wordcloud with csv extension")

top50cooc.to_csv(cloudfile, header=True, index=False, sep='\t', mode='a')

#print(len(data1))
data1.to_csv('coocRemovedRepeat.txt', header=True, index=False, sep='\t', mode='a')

Tweets(T) or articles(A)?
a

/home/shreyas/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Enter filename for wordcloud with csv extensionwordpairnytcloud.csv